<!DOCTYPE html>
<html>
	<head>
		<title>Team members</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	</head>

	<body>
		<h1 style="font-family: fantasy; font-size: 65px; text-align: center; font-weight: 120;">Team Members</h1>

		<div style="font-family: monospace;font-size: 25px; text-align: center;">
			<div>
			    <div style="width:50%; float: left; min-height: 220px;">
			    	<h2>Baktybek Temirlan</h2>
			    	<h3>Group: ITSE-1903</h3>
			    	<h3>3rd Course</h3>
			    	<h3>Location Almaty Arena</h3>
			    	<p>fullstack developer</p>
			    </div>
			    <div style="width:50%; margin-left: 50%; min-height: 220px;">
			    	<h2>Galymzhanuly Abylaikhan</h2>
			    	<h3>Group: ITSE-1903</h3>
			    	<h3>3rd Course</h3>
			    	<h3>Location Alatau City</h3>
			    	<p>backend and python developer</p>
			    </div>    
			</div>
		</div>


	</body>
</html>