{% extends 'main/base.html' %}
{% load static %}

{%block title%}
	Second page
{%endblock%}

{%block tabletitle%}
	<h2>Customers:</h2>
{%endblock%}

{%block thead%}
		<th>First Name</th>
		<th>Last Name</th>
		<th>Username</th>
{%endblock%}

{%block table_button%}
			  	<div class="container-fluid"> 
			  		<div class="col-lg-4">
				  		<button style="font-size:20px;background-color: #086bff; color: white;"> 
				  			<a href="{% url 'create' %}" style="color: white;">Create customer</a>
				  		</button>
			  		</div>
			  	</div>
{%endblock%}
{%block content%}
	{% for costomer in Costomers %}

		<tr>
			<td>{{costomer.name}}</td>
			<td>{{costomer.surename}}</td>
			<td>{{costomer.username}}</td>
			<td><button class="btn btn-succes"><a href="{% url 'detail' costomer.id %}">Read More </a></button></td>
		</tr>
	{% endfor %}
{%endblock%}